*{
	box-sizing: border-box;
}
h1{
	font-size: 30px;
	font-family: sans-serif;
	margin-bottom: 30px;
	text-align: center;

}
.row{
	width: 100%;
}
p{
	font-family: georgia sans-serif;
	font-size:15px;
	position: relative;
	padding: 15px 0px 0px 5px;
}
.section{
	border: 2px solid black;
	padding: 3px;
	background-color: rgb(150,150,150);
	margin-top: 30px;
	margin-right: 20px;
	text-align: justify;
	position: relative;

}
span{
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	float: right;top: 0;right: 0;margin: 0;
	border: 1.5px solid black;
	position: absolute;
	text-align: center;

}
#Head3{
	background-color: rgb(250,150,150);
	color: rgb(0,0,0);
}
#Head4{
	background-color: rgb(255,0,0);
	color: rgb(255,255,255);
}
#Head5{
	background-color: rgb(200,200,100);
	color: rgb(0,0,0);
}
@media(min-width: 992px){
.col-ab-4{
	width:33.3%;
	float: left;
}
}
@media(min-width:768px) and (max-width:991px){
	.col-ac-6{
		width:50%;
		float: left;
	}
	.col-ac-12{
		width: 100%;
		float: left;
	}
}
@media(max-width: 767px){
	.ad-2{
		width: 100%;
		float: left;
	}
}
